<template>
  <v-container
    grid-list-xl
    fluid
  >
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md12
        lg9
      >
        <v-card
          color="grey darken-4"
        >
          <v-layout
            row
            wrap
            class="pa-3"
          >
            <v-flex md12>
              <v-select
                v-model="siteId"
                :items="allSites"
                item-text="name"
                item-value="aesUId"
                label="Pick place"
                required
              />
            </v-flex>
          </v-layout>
          <v-progress-linear
            v-if="updating"
            indeterminate
            color="primary"
            class="ma-0"
          />
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md12
        lg9
      >
        <v-slide-y-transition>
          <v-card
            v-show="forecastData && !updating"
          >
            <div
              class="white"
            >
              <chart
                v-if="forecastData"
                :data="forecastData"
                :options="forecastOptions"
                type="line"/>
            </div>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">Foracasting number of visitors</h3>
                <div>
                  Forecast made with simple linear regression for each weekday.
                </div>
              </div>
            </v-card-title>
          </v-card>
        </v-slide-y-transition>
      </v-flex>
    </v-layout>
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md12
        lg9
      >
        <v-slide-y-transition>
          <v-card
            v-show="correlationData && !updating"
          >
            <div
              class="white"
            >
              <chart
                v-if="correlationData"
                :data="correlationData"
                :options="correlationOptions"
                type="scatter"/>
            </div>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">
                  Correlation between session duration and weekday
                </h3>
                <div>
                  Correlation made bewteen each "session type visitors count"
                  and weekday for past 3 months.
                </div>
              </div>
            </v-card-title>
          </v-card>
        </v-slide-y-transition>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

import * as ss from 'simple-statistics'
import _ from 'lodash'
import Chart from '@/components/Chart'
import { mapGetters } from 'vuex'
import * as actionTypes from '@/store/action-types'
import Moment from 'moment'
import { extendMoment } from 'moment-range'

const moment = extendMoment(Moment)

const weekdays = Object.freeze({
  MONDAY: 1,
  TUESDAY: 2,
  WEDNESDAY: 3,
  THURSDAY: 4,
  FRIDAY: 5,
  SUNDAY: 6,
  SATURDAY: 7
})

const sessionDurations = [
  {
    key: 'FIVE_TO_THIRTY_MINUTES',
    title: '5 to 30 minutes',
    color: '#f57f17'
  },
  {
    key: 'THIRTY_TO_SIXTY_MINUTES',
    title: '30 to 60 minutes',
    color: '#1b5e20'
  },
  {
    key: 'ONE_TO_FIVE_HOURS',
    title: '1 to 5 hours',
    color: '#01579b'
  },
  {
    key: 'FIVE_TO_EIGHT_HOURS',
    title: '5 to 8 hours',
    color: '#4a148c'
  },
  {
    key: 'EIGHT_PLUS_HOURS',
    title: '8+ hours',
    color: '#b71c1c'
  }
]

export default {
  data: () => ({
    startDate: moment().subtract(3, 'months').format('YYYY-MM-DD'),
    endDate: moment().format('YYYY-MM-DD'),
    siteId: undefined,
    updating: false,
    forecastData: undefined,
    correlationData: undefined,
    correlationOptions: {
      scales: {
        xAxes: [{
          type: 'linear',
          position: 'bottom',
          ticks: {
            userCallback: (tick) => moment().isoWeekday(tick).format('dddd')
          },
          scaleLabel: {
            labelString: 'Weekday',
            display: true
          }
        }],
        yAxes: [{
          type: 'linear',
          scaleLabel: {
            labelString: 'Visitors count',
            display: true
          }
        }]
      }
    },
    forecastOptions: {
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            tooltipFormat: 'YYYY-MM-DD',
            unit: 'week',
            unitStepSize: 1
          },
          ticks: {
            callback: (tick) => moment(tick).format('ddd YYYY-MM-DD')
          },
          scaleLabel: {
            display: true,
            labelString: 'Date'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'vistors number'
          }
        }]
      }
    }
  }),
  methods: {
    forecastLabels () {
      let start = moment(this.startDate)
      let end = moment(this.endDate).add(7, 'day')
      return Array.from(moment.range(start, end).by('day'))
    },
    correlationLabels () {
      return _.range(1, 7)
        .map(index => moment().isoWeekday(index).format('dddd'))
    },
    forecast (visitors) {
      let countsByWeekday = {
        monday: [],
        tuesday: [],
        wednesday: [],
        thursday: [],
        friday: [],
        sunday: [],
        saturday: []
      }

      let predicted = {
        monday: 0,
        tuesday: 0,
        wednesday: 0,
        thursday: 0,
        friday: 0,
        sunday: 0,
        saturday: 0
      }

      let data = []

      let predictedDateRange = moment.range(moment(), moment().add(7, 'days'))

      _(visitors).toPairs().value().map(dayCount => {
        let index = moment(dayCount[0]).isoWeekday()
        let count = dayCount[1]
        if (index === weekdays.MONDAY) countsByWeekday.monday.push(count)
        if (index === weekdays.TUESDAY) countsByWeekday.tuesday.push(count)
        if (index === weekdays.WEDNESDAY) countsByWeekday.wednesday.push(count)
        if (index === weekdays.THURSDAY) countsByWeekday.thursday.push(count)
        if (index === weekdays.FRIDAY) countsByWeekday.friday.push(count)
        if (index === weekdays.SUNDAY) countsByWeekday.sunday.push(count)
        if (index === weekdays.SATURDAY) countsByWeekday.saturday.push(count)
      })

      for (let day in countsByWeekday) {
        predicted[day] = this.predictCount(countsByWeekday[day])
      }

      for (let nextDay of predictedDateRange.by('day')) {
        let index = nextDay.isoWeekday()
        let date = nextDay.format('YYYY-MM-DD')
        if (index === weekdays.MONDAY) data[date] = predicted.monday
        if (index === weekdays.TUESDAY) data[date] = predicted.tuesday
        if (index === weekdays.WEDNESDAY) data[date] = predicted.wednesday
        if (index === weekdays.THURSDAY) data[date] = predicted.thursday
        if (index === weekdays.FRIDAY) data[date] = predicted.friday
        if (index === weekdays.SUNDAY) data[date] = predicted.sunday
        if (index === weekdays.SATURDAY) data[date] = predicted.saturday
      }

      return data
    },
    predictCount (values) {
      let cooridantes = values.map(value => [values.indexOf(value), value])
      let regression = ss.linearRegression(cooridantes)
      let regressionFunc = ss.linearRegressionLine(regression)
      return parseInt(regressionFunc(values.length + 1))
    },
    createForecastData (visitors) {
      return {
        labels: this.forecastLabels(),
        datasets: [
          {
            label: 'Visitors for past 3 months',
            borderColor: '#1565c0',
            data: this.visitorDataPoints(visitors),
            showLine: true
          },
          {
            label: 'Visitors for next 7 days',
            borderColor: '#43a047',
            data: this.visitorDataPoints(this.forecast(visitors)),
            showLine: true
          }
        ]
      }
    },
    visitorDataPoints (visitors) {
      return _(visitors).toPairs().value().map(dayCount => {
        return {
          x: moment(dayCount[0]),
          y: dayCount[1]
        }
      })
    },
    correlation (sessions) {
      return sessionDurations.map(duration => {
        return {
          label: duration.title,
          data: this.sessionTypeToWeekdayCorrelation(duration.key, sessions),
          backgroundColor: duration.color
        }
      })
    },
    sessionTypeToWeekdayCorrelation (type, sessions) {
      return _(sessions).toPairs().value().map(dateCount => {
        return {
          x: moment(dateCount[0]).isoWeekday(),
          y: dateCount[1][type]
        }
      })
    },
    createCorrelationData (sessions) {
      let data = {
        labels: this.correlationLabels(),
        datasets: this.correlation(sessions)
      }
      return data
    }
  },
  computed: {
    ...mapGetters([
      'allSites'
    ])
  },
  watch: {
    siteId () {
      if (this.siteId) {
        this.updating = true
        let visitorsReq = this
          .$store
          .dispatch(
            actionTypes.GET_SITE_VISITED_COUNT_DAILY,
            {
              startDate: this.startDate,
              endDate: this.endDate,
              siteId: this.siteId
            })
        let sessionReq = this
          .$store
          .dispatch(
            actionTypes.GET_SITE_DWELL_TIME_DAILY,
            {
              startDate: this.startDate,
              endDate: this.endDate,
              siteId: this.siteId
            })
        Promise
          .all([visitorsReq, sessionReq])
          .then(([visitorsResp, sessionResp]) => {
            this.updating = false
            this.forecastData = this.createForecastData(visitorsResp.data)
            this.correlationData = this.createCorrelationData(sessionResp.data)
          })
      }
    }
  },
  components: {
    Chart
  }
}
</script>

<style scoped>

  #chart {
    width: 100%;
  }

</style>
