<template>
  <v-container
    grid-list-md
    fill-height
    fluid>
    <v-layout
      row
      wrap
      align-center
      justify-center>
      <v-flex
        md6
        lg4>
        <v-card class="pa-3">
          <div class="headline">CMX API setup</div>
          <p>
            Here you can setup CMX Locate and Presence APIs
          </p>
          <div class="title mt-5">
            CMX Locate:
          </div>
          <v-form>
            <v-text-field
              v-model="locate.url"
              label="URL"
              required
            />
            <v-text-field
              v-model="locate.username"
              label="Username"
              required
            />
            <v-text-field
              v-model="locate.password"
              label="Password"
              required
            />
          </v-form>
          <div class="title mt-1">
            CMX Presence:
          </div>
          <v-form>
            <v-text-field
              v-model="presence.url"
              label="URL"
              required
            />
            <v-text-field
              v-model="presence.username"
              label="Username"
              required
            />
            <v-text-field
              v-model="presence.password"
              label="Password"
              required
            />
          </v-form>
          <v-btn
            color="red"
            block
            :disabled="!isApiClientsCreated"
            @click="forgotCredentials">
            Forgot credentials
          </v-btn>
          <v-btn
            :loading="testing"
            color="primary"
            block
            @click="testCredentials">
            Test credentials
          </v-btn>
          <v-btn
            color="success"
            block
            :disabled="!(locateValid && presenceValid)"
            @click="save">
            Save settings
          </v-btn>
        </v-card>
      </v-flex>
    </v-layout>
    <v-snackbar
      :value="error"
      :multi-line="true"
      :top="true"
    >
      {{ error }}
      <v-btn
        color="pink"
        flat
        @click="error = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>

import axios from 'axios'
import * as mutationTypes from '@/store/mutation-types'
import * as actionTypes from '@/store/action-types'
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    error: false,
    locateValid: false,
    presenceValid: false,
    presence: {
      url: '',
      username: '',
      password: ''
    },
    locate: {
      url: '',
      username: '',
      password: ''
    },
    testing: false,
    httpClient: false
  }),
  methods: {
    forgotCredentials () {
      this.$store.commit(mutationTypes.UNSET_API_CREDENTIALS)
      this.$store.dispatch(actionTypes.STOP_ACTIVE_CLIENTS_UPDATER)
    },
    save () {
      let locate = this.locate
      let presence = this.presence
      this.$store.commit(mutationTypes.SET_API_CREDENTIALS, {locate, presence})
      this.$store.commit(mutationTypes.CREATE_API_CLIENTS)
      this.$store.dispatch(actionTypes.GET_ALL_MAP_ELEMENTS)
      this.$store.dispatch(actionTypes.GET_ALL_SITES)
      this.$store.dispatch(actionTypes.START_ACTIVE_CLIENTS_UPDATER)
      this.$router.push({name: 'index'})
    },
    testCredentials () {
      this.testing = true
      Promise
        .all([
          this.testPresenceCredentials(),
          this.testLocateCredentials()
        ])
        .finally(() => { this.testing = false })
    },
    testLocateCredentials () {
      let vm = this
      return this.httpClient.get(
        this.locate.url + '/api/location/v2/clients/count',
        {
          auth: {
            username: this.locate.username,
            password: this.locate.password
          }
        }
      )
        .then(() => { vm.locateValid = true })
        .catch(error => { this.setError('CMX Locate', error) })
    },
    testPresenceCredentials () {
      let vm = this
      return this.httpClient.get(
        this.presence.url + '/api/presence/v1/clients',
        {
          auth: {
            username: this.presence.username,
            password: this.presence.password
          }
        }
      )
        .then(() => { vm.presenceValid = true })
        .catch(error => { this.setError('CMX Presence', error) })
    },
    setError (prefix, error) {
      let errorText = error && error.response
        ? prefix + ': ' + error.response.statusText
        : prefix + ': ' + 'Can\'t get response from server'

      this.error = errorText
      setTimeout(() => { this.error = false }, 2000)
    }
  },
  watch: {
    locateCredentials () {
      this.locate = this.locateCredentials
    },
    presenceCredentials () {
      this.presence = this.presenceCredentials
    },
    presence: {
      handler (val) {
        this.presenceValid = false
      },
      deep: true
    },
    locate: {
      handler (val) {
        this.locateValid = false
      },
      deep: true
    }
  },
  computed: {
    ...mapGetters([
      'isApiClientsCreated',
      'locateCredentials',
      'presenceCredentials'
    ])
  },
  created () {
    this.locate = this.locateCredentials
    this.presence = this.presenceCredentials
    // this.locate.url = 'https://cisco-cmx.unit.ua'
    // this.locate.username = 'RO'
    // this.locate.password = 'just4reading'
    // this.presence.url = 'https://cisco-presence.unit.ua'
    // this.presence.username = 'RO'
    // this.presence.password = 'Passw0rd'
    this.httpClient = axios.create({
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      }
    })
  }
}
</script>

<style scoped>

</style>
