<template>
  <div>
    <canvas ref="canvas"/>
  </div>
</template>

<script>

import Chart from 'chart.js'
import _ from 'lodash'

export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    options: {
      type: Object,
      required: false,
      default: () => {}
    },
    type: {
      type: String,
      required: true
    }
  },
  data: () => ({
    chart: undefined
  }),
  methods: {
    updateChart (data, type, options) {
      if (!this.chart) {
        this.chart = new Chart(this.$refs.canvas, { type, data, options })
      } else {
        this.chart.type = type
        this.chart.data = _.cloneDeep(data)
        this.chart.options = options
        this.chart.update()
      }
    }
  },
  watch: {
    '$props': {
      handler () {
        this.updateChart(this.data, this.type, this.options)
      },
      deep: true
    }
  },
  mounted () {
    this.updateChart(this.data, this.type, this.options)
  }
}
</script>

<style scoped>
</style>
