<template>
  <div/>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  data: () => ({
    baseDuration: 4000,
    durationIncrement: 2000
  }),
  methods: {
    createToast (text, type, duration) {
      this.$toasted.show(text, {
        position: 'bottom-right',
        duration: duration,
        type: type,
        theme: 'primary',
        className: 'font-weight-bold black',
        action: {
          text: 'CLOSE',
          onClick: (e, toastObject) => {
            toastObject.goAway(0)
          }
        }
      })
    },
    createNotificationText (mac, floorName, actionType) {
      let macPart = 'Device with ' + mac + ' MAC address '
      let actionPart = actionType === 'success' ? 'connected' : 'disconnected'
      let floorPart = ' on "' + floorName + '" floor'

      return macPart + actionPart + floorPart
    },
    createNotifications (clientMacs, type) {
      let duration = this.baseDuration

      clientMacs.forEach(mac => {
        let client = type === 'success'
          ? this.recentClientByMac(mac)
          : this.disconectedClientByMac(mac)
        let floor = this.floorById(client.mapInfo.floorRefId)
        let text = this.createNotificationText(mac, floor.name, type)
        this.createToast(text, type, duration)
        duration += this.durationIncrement
      })
    }
  },
  computed: {
    ...mapGetters([
      'recentClientsMacs',
      'disconnectedClientsMacs',
      'floorById',
      'recentClientByMac',
      'disconectedClientByMac'
    ])
  },
  watch: {
    recentClientsMacs (newVal, oldVal) {
      if (oldVal) this.createNotifications(newVal, 'success')
    },
    disconnectedClientsMacs (newVal, oldVal) {
      if (oldVal) this.createNotifications(newVal, 'error')
    }
  }
}
</script>

<style>

.toasted-container {
  font-family: Roboto,sans-serif;
  line-height: 1.5;
}

.toasted-container.bottom-right {
  right: 1%;
  bottom: 1%
}

</style>
