<template>
  <v-container
    grid-list-xl
    fluid
  >
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md6
        lg6
      >
        <v-card
          color="grey darken-4"
        >
          <v-layout
            row
            wrap
            class="pa-3"
          >
            <v-flex md4>
              <v-select
                v-model="siteId"
                :items="allSites"
                item-text="name"
                item-value="aesUId"
                label="Pick place"
                required
              />
            </v-flex>
            <v-flex md4>
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                full-width
                offset-y
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="startDate"
                  label="Pick start date"
                  readonly
                />
                <v-date-picker
                  v-model="startDate"
                  :max="maxDate"
                />
              </v-menu>
            </v-flex>
            <v-flex md4>
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                full-width
                offset-y
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="endDate"
                  label="Pick end date"
                  readonly
                />
                <v-date-picker
                  v-model="endDate"
                  :max="maxDate"
                />
              </v-menu>
            </v-flex>
          </v-layout>
          <v-progress-linear
            v-if="updating"
            indeterminate
            color="primary"
            class="ma-0"
          />
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md6
        lg6
      >
        <v-slide-y-transition>
          <v-card
            v-show="chartData && !updating"
            color="white"
          >
            <chart
              v-if="chartData"
              :data="chartData"
              :options="chartOptions"
              type="bar"/>
          </v-card>
        </v-slide-y-transition>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

import { mapGetters } from 'vuex'
import { values } from 'lodash'
import * as actionTypes from '@/store/action-types'
import Chart from '@/components/Chart'
import Moment from 'moment'
import { extendMoment } from 'moment-range'

const moment = extendMoment(Moment)

export default {
  data: () => ({
    maxDate: Moment().format('YYYY-MM-DD'),
    startDate: undefined,
    endDate: undefined,
    siteId: undefined,
    chartData: undefined,
    updating: false,
    chartOptions: {
      responsive: true,
      title: {
        display: true,
        text: 'Visitors'
      },
      tooltips: {
        mode: 'index',
        intersect: false
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Day'
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Number of clients'
          }
        }]
      }
    }
  }),
  methods: {
    chartLabels () {
      let range = moment.range(this.startDate, this.endDate).by('day')
      return Array.from(range).map(day => day.format('YYYY-MM-DD'))
    },
    createChartData (dwellTimeDaily) {
      let dwellValues = values(dwellTimeDaily)
      return {
        labels: this.chartLabels(),
        datasets: [
          {
            label: 'Eight+ hours',
            borderColor: '#3949ab',
            backgroundColor: '#6f74dd',
            data: dwellValues.map(range => range.EIGHT_PLUS_HOURS)
          },
          {
            label: 'Five to eight hours',
            borderColor: '#00695c',
            backgroundColor: '#439889',
            data: dwellValues.map(range => range.FIVE_TO_EIGHT_HOURS)
          },
          {
            label: 'Five to thirty minutes',
            borderColor: '#00bcd4',
            backgroundColor: '#62efff',
            data: dwellValues.map(range => range.FIVE_TO_THIRTY_MINUTES)
          },
          {
            label: 'One to five hours',
            borderColor: '#f57f17',
            backgroundColor: '#ffb04c',
            data: dwellValues.map(range => range.ONE_TO_FIVE_HOURS)
          },
          {
            label: 'Thirty to sixty minutes',
            borderColor: '#4e342e',
            backgroundColor: '#7b5e57',
            data: dwellValues.map(range => range.THIRTY_TO_SIXTY_MINUTES)
          }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'allSites'
    ]),
    trackInputs () {
      return [this.startDate, this.endDate, this.siteId].join()
    },
    isInputsSet () {
      return this.siteId && this.startDate && this.endDate
    }
  },
  watch: {
    trackInputs () {
      if (this.isInputsSet) {
        this.updating = true

        let payload = {
          startDate: this.startDate,
          endDate: this.endDate,
          siteId: this.siteId
        }
        this
          .$store
          .dispatch(actionTypes.GET_SITE_DWELL_TIME_DAILY, payload)
          .then((resp) => {
            this.updating = false
            this.chartData = this.createChartData(resp.data)
          })
      }
    }
  },
  components: {
    Chart
  }
}
</script>

<style scoped>
</style>
