<template>
  <div>
    <v-snackbar
      v-model="error"
      :top="true"
      :vertical="true"
      color="error"
    >
      {{ lastError }}
      <v-btn
        flat
        @click="removeError"
      >
        Close
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as actionTypes from '@/store/action-types'

export default {
  data () {
    return {
      error: undefined
    }
  },
  computed: {
    ...mapGetters(['lastError'])
  },
  methods: {
    ...mapActions({
      removeError: actionTypes.REMOVE_ERROR
    }),
    close () {
      this.error = undefined
      this.removeError()
    }
  },
  watch: {
    lastError (val, old) {
      this.error = val
    }
  }
}
</script>

<style scoped>
</style>
