<template>
  <v-stage
    ref="stage"
    :config="stageConfig">
    <v-layer ref="layer">
      <v-image
        :config="imageConfig"
      />
      <v-line
        v-for="(zone, i) in zoneShapes"
        :key="i"
        :config="zone"
      />
      <div>
        <v-circle
          v-for="(client, j) in clientsShapes"
          :key="j"
          :config="client"
        />
      </div>
    </v-layer>
  </v-stage>
</template>

<script>

export default {
  props: {
    image: {
      type: String,
      required: false,
      default: undefined
    },
    imageWidth: {
      type: Number,
      required: false,
      default: 0
    },
    imageHeight: {
      type: Number,
      required: false,
      default: 0
    },
    zones: {
      type: Array,
      required: false,
      default: () => ([])
    },
    clients: {
      type: Array,
      required: false,
      default: () => ([])
    }
  },
  computed: {
    stageConfig () {
      return {
        width: this.imageWidth,
        height: this.imageHeight
      }
    },
    imageConfig () {
      let image = new Image()
      image.src = this.image
      return {
        image: image,
        width: this.imageWidth,
        height: this.imageHeight,
        x: 0,
        y: 0
      }
    },
    configCircle () {
      return {
        x: 100,
        y: 100,
        radius: 70,
        fill: 'red',
        stroke: 'black',
        strokeWidth: 4
      }
    },
    zoneShapes () {
      return this.zones.map(zone => {
        let points = []
        zone.zoneCoordinate.forEach(coordiate => {
          points.push(coordiate.x)
          points.push(coordiate.y)
        })
        return {
          points: points,
          fill: '#00a1ff47',
          closed: true
        }
      })
    },
    clientsShapes () {
      return this.clients.map(client => {
        return {
          x: client.mapCoordinate.x,
          y: client.mapCoordinate.y,
          radius: 10,
          fill: 'red'
        }
      })
    }
  },
  updated () {
    this.$refs.layer.getStage().batchDraw()
  }
}
</script>

<style>

  .konvajs-content {
    width: 100% !important;
    height: auto !important;
  }

  .konvajs-content canvas {
    width: 100% !important;
    height: auto !important;
    object-fit: contain;
    position: initial !important;
  }

</style>
