<template>
  <v-data-table
    :headers="clinetHeaders"
    :items="clients"
    hide-actions
    class="elevation-1"
    dark
  >
    <template
      slot="items"
      slot-scope="props"
    >
      <td>{{ props.item.macAddress }}</td>
      <td>{{ props.item.mapCoordinate.x }}</td>
      <td>{{ props.item.mapCoordinate.y }}</td>
      <td>{{ props.item.confidenceFactor }}</td>
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    clients: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    clinetHeaders: [
      { text: 'MAC address', value: 'macAddress' },
      { text: 'X coordinate (feet)', value: 'mapCoordinate.x' },
      { text: 'Y coordinate (feet)', value: 'mapCoordinate.y' },
      { text: 'Confidence factor (less = percise)', value: 'confidenceFactor' }
    ]
  })
}
</script>
