<template>
  <v-container
    grid-list-xl
    fluid
  >
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md9
        lg9
      >
        <v-card
          v-if="floor && building && campus"
          dark
          color="grey darken-4"
          class="overflow-hidden"
        >
          <floor-image
            v-if="image"
            :image="image"
            :image-width="floor.dimension.width"
            :image-height="floor.dimension.length"
            :zones="zones"
            :clients="filteredClients"
          />
          <div
            v-else
            class="text-xs-center pa-3">
            <v-progress-circular
              indeterminate
              color="primary"
            />
          </div>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Floor: {{ floor.name }}</h3>
              <span class="grey--text">
                Located in "{{ building.name }}" building,
                in "{{ campus.name }}" campus.
                Client Count: {{ clients.length }}
              </span>
            </div>
          </v-card-title>
        </v-card>
        <div
          v-else
          class="text-xs-center"
        >
          <v-progress-circular
            indeterminate
            color="primary"
          />
        </div>
      </v-flex>
    </v-layout>
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md9
        lg9
      >
        <v-card
          dark
          color="grey darken-4"
          class="pa-3"
        >
          <v-text-field
            v-model="wantedMacAddress"
            label="Search by MAC address"
          />
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md9
        lg9
      >
        <floor-clients-table
          :clients="filteredClients"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

import FloorImage from '@/components/FloorImage'
import FloorClientsTable from '@/components/FloorClientsTable'
import { mapGetters } from 'vuex'
import * as actionTypes from '@/store/action-types'

export default {
  props: {
    campusId: {
      type: String,
      required: true
    },
    buildingId: {
      type: String,
      required: true
    },
    floorId: {
      type: String,
      required: true
    }
  },
  data: () => ({
    wantedMacAddress: ''
  }),
  computed: {
    floor () {
      return this.floorById(this.floorId)
    },
    building () {
      return this.buildingById(this.buildingId)
    },
    campus () {
      return this.campusById(this.campusId)
    },
    image () {
      return this.imageByName(this.floor.image.imageName)
    },
    zones () {
      return this.floorZones(this.floorId)
    },
    clients () {
      return this.floorClients(this.floorId)
    },
    filteredClients () {
      return this.clients.filter(client => {
        return client.macAddress.includes(this.wantedMacAddress)
      })
    },
    ...mapGetters([
      'campusById',
      'buildingById',
      'floorById',
      'imageByName',
      'floorZones',
      'floorClients'
    ])
  },
  watch: {
    floor: {
      handler () {
        this.$store.dispatch(actionTypes.GET_IMAGE, {
          name: this.floor.image.imageName
        })
      },
      immediate: true
    }
  },
  components: {
    FloorImage,
    FloorClientsTable
  }
}
</script>

<style scoped>
</style>
