<template>
  <div>
    <v-toolbar
      app
      fixed
      clipped-left
    >
      <v-toolbar-side-icon @click="toggleSidebar(true)"/>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          flat
          :to="{name: 'index'}"
          active-class="">
          <v-toolbar-title>
            CCMN
          </v-toolbar-title>
        </v-btn>
      </v-toolbar-items>
      <v-spacer/>
      <v-toolbar-title v-if="isApiClientsCreated">
        Current number of connected 🤖: {{ currentConnectedClientsCount }}
      </v-toolbar-title>
    </v-toolbar>
  </div>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  computed: {
    ...mapGetters([
      'currentConnectedClientsCount',
      'isApiClientsCreated'
    ])
  },
  methods: {
    ...mapMutations({
      toggleSidebar: mutationTypes.TOGGLE_SIDEBAR
    })
  }
}
</script>

<style scoped>
  .container {
    margin-top: 30px;
  }
</style>
