<template>
  <v-container
    grid-list-xs
    fluid
    fill-height>
    <v-layout
      row
      wrap
      align-center
      justify-center>
      <v-flex md4>
        <v-card
          class="pa-4">
          <h2>Hello in CCMN project.</h2>
          <p>
            On the left side you can select building floors,
            view statistics, etc.
          </p>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

export default {
}
</script>
