<template>
  <v-container
    grid-list-xl
    fluid
  >
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md6
        lg6
      >
        <v-card
          color="grey darken-4"
        >
          <v-layout
            row
            wrap
            class="pa-3"
          >
            <v-flex md4>
              <v-select
                v-model="siteId"
                :items="allSites"
                item-text="name"
                item-value="aesUId"
                label="Pick place"
                required
              />
            </v-flex>
            <v-flex md4>
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                full-width
                offset-y
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="startDate"
                  label="Pick start date"
                  readonly
                />
                <v-date-picker
                  v-model="startDate"
                  :max="maxDate"
                />
              </v-menu>
            </v-flex>
            <v-flex md4>
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                full-width
                offset-y
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="endDate"
                  label="Pick end date"
                  readonly
                />
                <v-date-picker
                  v-model="endDate"
                  :max="maxDate"
                />
              </v-menu>
            </v-flex>
          </v-layout>
          <v-progress-linear
            v-if="updating"
            indeterminate
            color="primary"
            class="ma-0"
          />
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      row
      justify-space-around
    >
      <v-flex
        md6
        lg6
      >
        <v-slide-y-transition>
          <v-card
            v-show="summary && !updating"
            color="white"
          >
            <chart
              v-if="summary"
              id="chart"
              :data="manufacturerData"
              type="horizontalBar"/>
          </v-card>
        </v-slide-y-transition>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

import Chroma from 'chroma-js'
import _ from 'lodash'
import Chart from '@/components/Chart'
import { mapGetters } from 'vuex'
import * as actionTypes from '@/store/action-types'
import Moment from 'moment'

export default {
  data: () => ({
    maxDate: Moment().format('YYYY-MM-DD'),
    startDate: undefined,
    endDate: undefined,
    siteId: undefined,
    summary: undefined,
    updating: false
  }),
  computed: {
    ...mapGetters([
      'allSites'
    ]),
    trackInputs () {
      return [this.startDate, this.endDate, this.siteId].join()
    },
    isInputsSet () {
      return this.siteId && this.startDate && this.endDate
    },
    manufacturerData () {
      let pairs =
        _(this.summary.topManufacturers.manufacturerCounts)
          .toPairs()
          .sortBy(1)
          .reverse()
      let names = pairs.map(pair => pair[0]).value()
      let counts = pairs.map(pair => pair[1]).value()
      let colors = Chroma
        .scale(['#26a69a', '#0d47a1'])
        .mode('lch')
        .colors(names.length)

      return {
        labels: names,
        datasets: [{
          label: 'Top manufacturers',
          data: counts,
          backgroundColor: colors
        }]
      }
    }
  },
  watch: {
    trackInputs () {
      if (this.isInputsSet) {
        this.updating = true
        this
          .$store
          .dispatch(
            actionTypes.GET_SITE_SUMMARY,
            {
              startDate: this.startDate,
              endDate: this.endDate,
              siteId: this.siteId
            })
          .then(response => {
            this.updating = false
            this.summary = response.data
          })
      }
    }
  },
  components: {
    Chart
  }
}
</script>

<style scoped>

  #chart {
    width: 100%;
  }

</style>
