<template>
  <div>
    <v-navigation-drawer
      v-model="sidebar"
      clipped
      fixed
      app
      temporary
    >
      <v-list>
        <v-list-tile
          :to="{name: 'apiSetup'}">
          <v-list-tile-action>
            <v-icon>settings_ethernet</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>API setup</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile
          @click="clearNotifications"
        >
          <v-list-tile-action>
            <v-icon>clear_all</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>Clear all notifications</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <template
          v-if="campuses"
        >
          <v-list-group
            v-for="(campus, i) in campuses"
            :key="i"
            prepend-icon="account_balance"
          >
            <v-list-tile slot="activator">
              <v-list-tile-title>{{ campus.name }}</v-list-tile-title>
            </v-list-tile>

            <v-list-group
              no-action
              sub-group
              v-for="(building, j) in campusBuildings(campus)"
              :key="j"
            >
              <v-list-tile slot="activator">
                <v-list-tile-title>{{ building.name }}</v-list-tile-title>
              </v-list-tile>

              <v-list-tile
                v-for="(floor, k) in buildingFloors(building)"
                :key="k"
                :to="floorRoute(
                  campus.aesUidString,
                  building.aesUidString,
                  floor.aesUidString)"
              >
                <v-list-tile-action>
                  <v-icon>grid_on</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>{{ floor.name }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list-group>
          </v-list-group>
          <v-list-group
            prepend-icon="place"
          >
            <v-list-tile slot="activator">
              <v-list-tile-title>Presence</v-list-tile-title>
            </v-list-tile>
            <v-list-tile
              :to="{name: 'kpiSummary'}"
            >
              <v-list-tile-action>
                <v-icon>bar_chart</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>KPI summary</v-list-tile-title>
            </v-list-tile>
            <v-list-tile
              :to="{name: 'visitors'}"
            >
              <v-list-tile-action>
                <v-icon>show_chart</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>Visitors</v-list-tile-title>
            </v-list-tile>
            <v-list-tile
              :to="{name: 'dwell'}"
            >
              <v-list-tile-action>
                <v-icon>pie_chart</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>Dwell time</v-list-tile-title>
            </v-list-tile>
            <v-list-tile
              :to="{name: 'analitics'}"
            >
              <v-list-tile-action>
                <v-icon>bubble_chart</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>Analitics</v-list-tile-title>
            </v-list-tile>
          </v-list-group>
        </template>
        <div
          v-else
          class="text-xs-center pa-3">
          <v-progress-circular
            indeterminate
            color="primary"
          />
        </div>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import * as mutationTypes from '@/store/mutation-types'

export default {
  data: () => ({
    sidebar: false
  }),
  methods: {
    floorRoute (campusId, buildingId, floorId) {
      return {
        name: 'floorById',
        params: {
          campusId,
          buildingId,
          floorId
        }
      }
    },
    clearNotifications () {
      this.$toasted.clear()
    }
  },
  watch: {
    sidebar () {
      this.$store.commit(mutationTypes.TOGGLE_SIDEBAR, this.sidebar)
    },
    showSidebar () {
      this.sidebar = this.showSidebar
    }
  },
  computed: {
    ...mapGetters([
      'isApiClientsCreated',
      'showSidebar',
      'campuses',
      'campusBuildings',
      'buildingById',
      'buildingFloors',
      'floorById'
    ])
  }
}
</script>

<style scoped>
</style>
