<template>
  <v-app
    id="inspire"
    dark>
    <sidebar/>
    <appHeader/>
    <v-content>
      <router-view/>
    </v-content>
    <client-notifications/>
  </v-app>
</template>

<script>

import appHeader from '@/components/Header'
import sidebar from '@/components/Sidebar'
import errors from '@/components/Errors'
import clientNotifications from '@/components/ClientNotifications'

export default {
  name: 'App',
  mixins: [errors],
  components: {
    appHeader,
    sidebar,
    clientNotifications
  }
}
</script>

<style>
  @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons';
  @import 'vuetify/dist/vuetify.min.css';
</style>
